beautifulsoup4
feedparser
google-cloud-aiplatform
llama-index
openai
pandas
trulens-eval
google-generativeai
transformers
torch
torchvision
torchaudio
fastapi
sqlalchemy[asyncio]
pgvector
psycopg2-binary
asyncpg
uvicorn[standard]